* {
  font-family: open-sans; /* Change your font family */
}


html,
      body {
        height: 100%;
      }
      body {
        margin: 0;
        display: flex;
        /* This centers our sketch horizontally. */
        justify-content: center;
        /* This centers our sketch vertically. */
        align-items: center;
      }
      canvas {
        margin-top: 50px;
        margin-left:20px;
        border: 2px solid black;
      }
     #table {
      position: center;
      border-collapse: collapse;
      margin:  0;
      font-size: 0.9em;
      min-width: 100px;
      margin-top:25px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    th{
      background-color: white;
      color: rgb(192, 74, 74);
      text-align: left;
      font-weight: bold;
      padding: 12px 15px;
      border-bottom: 1px solid #dddddd;
      border-bottom: 2px solid orange;
      border-right: 2px solid orange;
      border-left: 2px solid orange;
      border-top: 2px solid orange;
      font-weight: bold;
      color: rgb(99, 99, 199);
      font-family: poppins;
    }
    tr,td {
      background-color: white;
      color: black;
      text-align: left;
      font-weight: bold;
      padding: 12px 15px;
      border-bottom: 1px solid #dddddd;
      border-bottom: 2px solid orange;
      border-right: 2px solid orange;
      border-left: 2px solid orange;
      border-top: 2px solid orange;
     
      color: red;
    }






    button
      {
       
        text-align: center;
        width: 100px;
        padding: 10px;
        font-size: 10px;
        color: orange;
        font-family: poppins;
        font-weight: 400;
        border: 5px solid orange;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 100px;
        background-color: white;
        /* transition: 1.5s; */
        outline:none;

      }

      button:focus,
      button:hover{
        box-shadow: 5px 5px 5px 0 , 0 5px 0px 0,
                    5px 5px 5px 0, 0 0px 0px 0 ;
        
      }
      input{
        text-align: center;
        width: 100px;
        padding: 10px;
        font-size: 20px;
        color: black;
        font-family: poppins;
        font-weight: 400;
        border: 5px solid orange;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: cursor;
        border-radius: 100px;
        background-color: white;
      }
      input:hover
      {
        box-shadow: 5px 5px 5px 0 , 0 5px 0px 0,
                    5px 5px 5px 0, 0 0px 0px 0 ;
        
      }

